<center>
  <h1>{{title}}</h1>


  <section style="max-width: 1400px;">
    <header>
      <h2>Key Numbers</h2>
    </header>

    <aside>
      <h2>{{balance}}</h2>
      <p>Balance</p>
    </aside>
    <aside>
      <h2>{{income}}</h2>
      <p>Income</p>
    </aside>
    <aside>
      <h2> {{expense}} </h2>
      <p> Expense </p>
    </aside>
  </section>
</center>