<center>

  <h1>{{title}}</h1>
  <a href="/add"> <b>Add Record</b></a>
  <p>View Records</p>

  <div>
    <table>
      <tr>
        <th>Description</th>
        <th>Value</th>
        <th>Income or Expense</th>
        <th>Type</th>
        <th>Date</th>
        <th>ID</th>
      </tr>
      {{#each data}}
      <tr>
        {{#eachProperty this}}
        <td>{{value}}</td>
        {{/eachProperty}}
        <td>
              <a href="/delete/{{this.id}}">Delete</a>
        </td>
      </tr>
      {{/each}}
    </table>
  </div>
</center>